@font-face {
    font-family: 'AG Old Face';
    src: url('fonts/AG Old Face Medium.otf');
    font-weight: normal;
    font-style: normal;
}
:root {
--main-bg: #E8CCB8;
--text-bg: #261A1C;
--hover-bg: #61221d;
}

.lightmode{
--main-bg: #E8CCB8;
--text-bg: #261A1C;
--hover-bg: #61221d;
}

.darkmode{
--main-bg: #34282A;
--text-bg: #E2BB9B;
--hover-bg: #5A4A3D;
}


.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  bottom: 10vh;
  right: 4.2em;
  color: var(--text-bg);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.page {
background-color: var(--main-bg);
}

.body {
overflow: hidden;
}

.Frame3{
display: flex;
flex-direction: column;
align-items: center;
margin: 0px 50px;
overflow: hidden;
height: 100vh
}

.Frame1 {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 0px 50px;
width: 100%;
margin-bottom: 50px;
margin-top: 50px;
}

.info {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
}

.sottotesto{
font-family: 'AG Old Face';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 32px;

color: var(--text-bg);
}

.nome {
font-family: 'AG Old Face';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 60px;
display: inline-block;
color: var(--text-bg);
width: auto; /* automatically adjust the width based on the content */
}

.Frame2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: relative;
width: 100vw;
height: 80vh;
}

.box_frame2{
padding-left: 60px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 75px;
}

.cv {
font-family: 'AG Old Face';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;
color: var(--text-bg);

}

.ac_wr{
    font-family: 'AG Old Face';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;

color: var(--text-bg);
}

.subtext {
    line-height: 10px;
}
.IMCN{
    font-family: 'AG Old Face';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;

color: var(--text-bg);
}

.NDDL{
font-family: 'AG Old Face';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;

color: var(--text-bg);
}

.LT{
font-family: 'AG Old Face';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 32px;
color: var(--text-bg);
}

a:link{
    color: var(--text-bg);
}

a:visited {
  color: var(--text-bg);
}

a:hover {
  color: var(--hover-bg);
}

a:link {
  text-decoration: none;
}

/*.IMCN .description,*/
/*.NDDL*/
.description {
  font-size: 17px;
  opacity: 0;
  position: absolute;
  right: 35;
  top: 9px;
  background-color: transparent;
  padding: 30px;
  white-space: pre-wrap; /* allow description to wrap to multiple lines */
  width: calc(35% - 60px);
  line-height: 1.5;
  height: 500em;
  transition: opacity 0.5s;
  pointer-events: none;

}
.IMCN .description,
.LT .description,
.NDDL .description {
    top: 45px;
    right: 25px;
}
.IMCN:hover .description,
.LT:hover .description,
.NDDL:hover .description {

  opacity: 1;
  font-size: 17px;

}

#pippo-section {
  position: relative;
  height: 180vh;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
}

#pippo-button {
  position: absolute;
  z-index: 100;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-bg);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}

/* Hide scrollbar */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Disable scrolling */
body {
  overflow: hidden;
}

.text-box {
  height: 20vh;
  text-align: center;
  margin-top: 30vh;
}

.text-box input[type="text"] {
  padding: 10px;
  width: 300px;
  color: var(--text-bg);
  border: 2px solid currentColor;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'AG Old Face';
}